.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
  border: 1px solid #cccc;
  padding: 15px;
}
form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
label {
  margin-bottom: 15px;
}
label > span {
  display: flex;
  width: 100%;
  margin-right: 5px;
}

#enviar {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  color: white;
  padding: 10px 15px;
  border: #226b32;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #28a745;
}

#enviar:hover {
  background-color: #226b32;
}

#cancelar {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  color: white;
  padding: 10px 15px;
  border: #226b32;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: red;
}

#cancelar:hover {
  background-color: #5e0a0a;
}
